<!DOCTYPE html>
<html>
    <head>
        <title>{{ titulo }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="index.php" method="post">
            <label for="nome">Seu nome:</label>
            <input type="text" id="nome" name="nome" />

            <label for="sobrenome">Seu sobrenome:</label>
            <input type="text" id="sobrenome" name="sobrenome" />

            <input type="submit" value="Enviar"/>
        </form>
        <div>{{ mensagem }}</div>
        <section>
            <label>Nome: {{ nomePostado }}</label>
            <label>Sobrenome: {{ sobrenomePostado }} </label>
        </section>
    </body>
</html>
